#add-subject-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#add-subject-section button {
    align-self: flex-end;
}

#subject-data {
    display: grid;
    grid-template-columns: 1fr 7fr;
    column-gap: 3.5rem;
    row-gap: 2.5rem;

}
