#denial-justification-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

#denial-justification-container h2 {
    text-align: center;
    font-size: 2rem;
    text-align: left;
}

#denial-justification-container p {
    font-weight: normal;
    text-align: justify;
    font-size: 0.8rem;
}

#denial-justification-container div {
    background-color: var(--element-dark);
    border-radius: 0.3125rem;
    max-height: 21.875rem;
    width: 100%;
    font-weight: normal;
    font-size: 0.8rem;
    text-align: left;
    padding: 0.625rem 1.25rem;
    color: var(--palceholder-text-color);
}
