#knowledge-certificate-form {
    display: flex;
    flex-direction: column;
}

#course-progress-form {
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-areas:
        "leftheader rightheader"
        "studentdata subjectdata"
        "filesdata filesdata"
    ;
    gap: 1.5625rem;
    height: 100%;
}

#knowledge-certificate-form header > h2:nth-of-type(1),
#course-progress-form header > h2:nth-of-type(1)
{
    grid-area: leftheader;
}

#knowledge-certificate-form header > h2:nth-of-type(2),
#course-progress-form header > h2:nth-of-type(2)
{
    grid-area: rightheader;
}

#student-data {
    gap: 1.5625rem;
    grid-area: studentdata;
}

#subject-data {
    grid-area: subjectdata;
}

#attach-files-data {
    grid-area: filesdata;
}

#course-progress-file-inputs {
    gap: 6.25rem;
}

.ccam-table-input {
    width: 70%;
    border: none;
}

.ccam-table-input:focus {
    outline: none;
}

.ccam-table .ccam-table-input {
    background-color: inherit;
    text-align: center;
}

@media (max-width: 431px) {
    #knowledge-certificate-form, #student-data, #course-progress-form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    #knowledge-certificate-form h2:nth-of-type(2) {
        padding-top: 3rem;
    }

    #knowledge-certificate-form h2:nth-of-type(1) {
        gap: .8rem;
    }

    #course-progress-file-inputs, #course-progress-file-inputs .ccam-file-input {
        flex-direction: column;
        align-items: center;
    }

    #knowledge-certificate-form + button {
        align-self: center !important;
        margin-top: 100px;
        width: 100%;
    }

    #course-progress-file-inputs {
        gap: 2rem;
    }

    #course-progress-form + button {
        margin-top: 30px;
        align-self: center !important;
    }

    #subject-dispensal-docs {
        flex-direction: column;
        gap: 2.5rem;
    }

    #subject-dispensal-docs .ccam-file-input, #subject-dispensal-docs label, #subject-dispensal-docs button {
        width: 100%;
    }

}
