{% load static %}

<fieldset name="teste" class="row align-items-center">
    <div class="ccam-input">
        {{ person_form.registration.label_tag }}
        {{ person_form.registration }}
    </div>
    <div class="ccam-input">
        {{ person_form.cpf.label_tag }}
        {{ person_form.cpf }}
    </div>
    <div class="ccam-file-input">
        {{ person_form.profile_picture }}
    </div>
</fieldset>

<fieldset class="row align-items-center">
    <div class="ccam-input">
        {{ person_form.phone_number.label_tag }}
        {{ person_form.phone_number }}
    </div>
    <div class="ccam-input">
        {{ person_form.email.label_tag }}
        {{ person_form.email }}
    </div>
    <div class="ccam-input">
        {{ person_form.sex.label_tag }}
        <div class="ccam-select">
            {{ person_form.sex }}
        </div>
    </div>
</fieldset>
