{% load static %}

<fieldset class="row align-items-center">
    <div class="ccam-input">
        {{ person_form.registration.label_tag }}
        {{ person_form.registration }}
    </div>
    <div class="ccam-input">
        {{ person_form.cpf.label_tag }}
        {{ person_form.cpf }}
    </div>
    <div class="ccam-file-input">
        <label for="new" class="ccam-file-input-label">
            <p class="m-0 p-0 green-text fs-6">Foto de perfil</p>
            <button class="ccam-button ccam-file-input-button">
                Carregar
                <img src="{% static 'images/icons/fileUpload.svg' %}"
                    alt="Green file being uploaded"
                    class="green-svg" />
            </button>
        </label>
        <input class="d-none" type="file" name="new" id="new" />
    </div>
</fieldset>

<fieldset class="row align-items-center">
    <div class="ccam-input">
        {{ person_form.phone_number.label_tag }}
        {{ person_form.phone_number }}
    </div>
    <div class="ccam-input">
        {{ person_form.email.label_tag }}
        {{ person_form.email }}
    </div>
    <div class="ccam-input">
        <label for="sex">Sexo</label>
        <div class="ccam-select">
            <select name="sex" id="sex">
                <option value="------">------</option>
            </select>
        </div>
    </div>
</fieldset>
