<div class="ccam-input">
    <label for="{{ filter.form.person__registration__contains.id_for_label }}">Matrícula</label>
    {{ filter.form.person__registration__contains }}
</div>
<div class="ccam-input">
    <label for="{{ filter.form.person__email__contains.id_for_label }}">Email</label>
    {{ filter.form.person__email__contains }}
</div>
<div class="ccam-input">
    <label for="{{ filter.form.person__name__icontains.id_for_label }}">Nome</label>
    {{ filter.form.person__name__icontains }}
</div>
<div class="ccam-input">
    <label for="{{ filter.form.person__cpf__contains.id_for_label }}">CPF</label>
    {{ filter.form.person__cpf__contains }}
</div>
