{% load bootstrap_icons %}

<th>
    <div>
        <span class="material-symbols-outlined">
        signature
        </span>
        Nome
    </div>
</th>
<th>
    <div>
        {% bs_icon 'person-vcard-fill' color='#0bda51' %}
        CPF
    </div>
</th>
<th>
    <div>
        <span class="material-symbols-outlined">
            badge
        </span>
        Matrícula
    </div>
</th>
<th>
    <div>
        <span class="material-symbols-outlined">
            mail
        </span>
        Email
    </div>
</th>
