{% load static %}

<section id="home-nav">
    <div class="home-card">
      <img src="{% static 'people/images/icons/diploma.svg' %}"
           alt="Diploma paper"
           class="green-svg"
           width="128"
           height="128" />
      <h2 class="fw-bold text-center">Certificação de Conhecimento</h2>
      {% include "core/_anchor.html" with anchor_text="Editar" color_class="green-svg" icon_path='images/icons/editIcon.svg' alt_text="A green pen" href='academics:subject_list' %}
    </div>
    <div class="home-card">
      <img src="{% static 'people/images/icons/exportNotes.svg' %}"
           alt="A paper with an upwards bottom right corner arrow"
           class="green-svg"
           width="128"
           height="128" />
      <h2 class="fw-bold text-center">Aproveitamento de Disciplinas</h2>
      {% include "core/_anchor.html" with anchor_text="Editar" color_class="green-svg" icon_path='images/icons/editIcon.svg' alt_text="A green pen" href='academics:subject_list' %}
    </div>
  </section>
