{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}
{% load button %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:managers:home' %}
  {% breadcrumb_item text="Cadastrar Professor" icon="add_circle" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container">
    <header>
      <h1 class="fw-bold green-text">Cadastrar Professor</h1>
    </header>
    <form method="post"
          class="w-100 d-flex flex-column justify-content-evenly"
          id="teachers-form"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% include "core/_form_errors.html" with form=form %}
        {% include "people/person_form.html" with person_form=form.person %}
        <fieldset class="row flex-column align-items-start mt-4">
        <legend class="fw-bold">Selecione as <span class="green-text">matérias</span> que ele irá lecionar:</legend>
            <div class="ccam-input">
                <label for="{{ form.teacher.course.id_for_label }}">Curso<img src="{% static 'images/icons/info.svg' %}"
                 class="green-svg"
                 alt="Letter 'i' in a circumference" />
                </label>
                <div class="ccam-select">
                  {{ form.teacher.course }}
                </div>
            </div>

            <div class="ccam-input mt-2">
                {{ form.teacher.subjects.label_tag }}
                <div class="ccam-select">
                    <select name="{{ form.teacher.subjects.html_name }}" id="{{ form.teacher.subjects.id_for_label }}" multiple size="3">
                    </select>
                </div>
            </div>
        </fieldset>
</form>
{% button button_text="Enviar" color_class="green-svg" icon="done_all" custom_class="align-self-end" form_id="teachers-form" %}
</main>
{% endblock content %}
