{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:managers:home' %}
  {% breadcrumb_item text="Cadastrar Professor" icon="add_circle" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container">
    <header>
      <h1 class="fw-bold green-text">Cadastrar Professor</h1>
    </header>
    <form method="post"
          class="w-100 d-flex flex-column justify-content-evenly"
          id="teachers-form">
      <fieldset class="row align-items-center">
        <div class="ccam-input">
          <label for="registration">Matrícula</label>
          <input type="text" name="registration" id="registration" />
        </div>
        <div class="ccam-input">
          <label for="teacher-cpf">CPF</label>
          <input type="text" name="teacher-cpf" id="teacher-cpf" />
        </div>
        <div class="ccam-file-input">
          <label for="new" class="ccam-file-input-label">
            <p class="m-0 p-0 green-text fs-6">Foto de perfil</p>
            <button class="ccam-button ccam-file-input-button">
              Carregar
              <img src="{% static 'images/icons/fileUpload.svg' %}"
                   alt="Green file being uploaded"
                   class="green-svg" />
            </button>
          </label>
          <input class="d-none" type="file" name="new" id="new" />
        </div>
      </fieldset>
      <fieldset class="row align-items-center">
        <div class="ccam-input">
          <label for="phone-number">Fone</label>
          <input type="text" name="phone-number" id="phone-number" />
        </div>
        <div class="ccam-input">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="ccam-input">
          <label for="sex">Sexo</label>
          <div class="ccam-select">
            <select name="sex" id="sex">
              <option value="------">------</option>
            </select>
          </div>
        </div>
        </fieldset>
        <fieldset class="row align-items-center mt-4">
        <legend class="fw-bold">Selecione as <span class="green-text">matérias</span> que ele irá lecionar:</legend>
            <div class="ccam-input">
                <label for="course">Curso<img src="{% static 'images/icons/info.svg' %}"
                 class="green-svg"
                 alt="Letter 'i' in a circumference" />
                </label>
                <div class="ccam-select">
                    <select name="course" id="course">
                        <option value="-------">------</option>
                    </select>
                </div>
            </div>

            <div class="ccam-input">
                <label for="subject">Matéria<img src="{% static 'images/icons/info.svg' %}" class="green-svg" alt="Letter 'i' in a circumference" />
                </label>
                <div class="ccam-select">
                    <select name="subject" id="subject">
                        <option value="------">-------</option>
                    </select>
                </div>
            </div>
        </fieldset>
</form>
{% include "core/_button.html" with button_text="Enviar" color_class="green-svg" icon_path='people/images/icons/doubleTick.svg' alt_text="A green double tick" custom_class="align-self-end" form_id="teachers-form" %}
</main>
{% endblock content %}
