{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:managers:home' %}
  {% breadcrumb_item text="Cadastrar Funcionário da SEAC" icon="add_circle" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container">
    {% for field in form %}
      <div class="fieldWrapper">
        {{ field.errors }}
      </div>
    {% endfor %}
    <header>
      <h1 class="fw-bold green-text">Cadastrar Funcionário da SEAC</h1>
    </header>
    <form method="post"
          class="w-100 d-flex flex-column justify-content-evenly"
          id="seac-form">
      {% csrf_token %}
      {% include "people/person_form.html" with person_form=form.person %}
        <fieldset class="row align-items-center mt-4">
            <div class="ccam-input">
                {{ form.seacstaff.phone_line.label_tag }}
                {{ form.seacstaff.phone_line }}
            </div>

            <div class="ccam-input">
                {{ form.seacstaff.role.label_tag }}
                <div class="ccam-select">
                    {{ form.seacstaff.role }}
                </div>
            </div>
        </fieldset>
</form>
{% include "core/_button.html" with button_text="Enviar" color_class="green-svg" icon_path='people/images/icons/doubleTick.svg' alt_text="A green double tick" custom_class="align-self-end" form_id="seac-form" %}
</main>
{% endblock content %}
