{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}
{% load bootstrap_icons %}
{% load button %}
{% load simple_table_button %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:managers:home' %}
  {% breadcrumb_item text="Funcionários da SEAC" icon="list" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container" class="view-table-section">
    <header class="header-with-icon">
      <span class="material-symbols-outlined green-text">
        filter_alt
      </span>
      <h2>Filtros</h2>
    </header>
    <form method="get" id="seac-staff-filter" class="filter-section">
      <div class="fields-container">
        {% include "people/person_filter.html" with filter=filter %}
        <div class="ccam-input">
          {{ filter.form.role.label_tag }}
          <div class="ccam-select">
            {{ filter.form.role }}
          </div>
        </div>
      </div>
      {% button button_text="Filtrar" color_class="green-svg" icon="filter_alt" form_id="seac-staff-filter" %}
    </form>
    <header class="header-with-icon padding-from-content">
      <img src="{% static 'people/images/icons/cap.svg' %}"
           alt="A green student cap"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Funcionários da SEAC</h2>
    </header>
    <section>
      <table class="ccam-table">
        <thead>
          <tr>
            {% include "people/person_table_header.html" %}
            <th>
              <div>
                <span class="material-symbols-outlined">
                  groups_2
                </span>
                Responsabilidade
              </div>
            </th>
            <th>
              <div>
                <span class="material-symbols-outlined">
                  tune
                </span>
                Ações
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for seac_staff in object_list %}
            <tr>
              <td>{{ seac_staff.person.name }}</td>
              <td>{{ seac_staff.person.cpf }}</td>
              <td>{{ seac_staff.person.registration }}</td>
              <td>{{ seac_staff.person.email }}</td>
              <td>{{ seac_staff.role }}</td>
              <td>
                <div class="d-flex justify-content-around">
                  {% simple_table_button color_class='green-text' icon='visibility' href='people:seac:detail' %}
                  {% simple_table_button color_class='green-text' icon='edit' abs_url=seac_staff.get_update_url %}
                  {% simple_table_button color_class='green-text' icon='delete' href='people:seac:detail' %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    {% include "core/_table_pagination.html" %}
    {% include "core/_confirmation_modal.html" with text="Tem certeza que deseja excluir o funcionário" highlighted_text="Ernie and Bert (123.456.789-10)" %}
  </main>
{% endblock content %}
