{% load static %}

<footer id="main-footer">
  <address id="ifrn-contact">
    <img src="{% static 'images/icons/ifrnLogo.svg' %}" alt="IFRN logo" />
    <ul>
      <li>
        <span>Campus:</span> Pau dos Ferros
      </li>
      <li>
        <span>Endereço:</span> BR 405, Km 154, s/n, Chico Cajá - Pau dos Ferros - RN
      </li>
      <li>
        <span>CEP:</span> 59900-000
      </li>
      <li>
        <span>Telefone:</span> (84) 4005 4109
      </li>
    </ul>
  </address>
  <address id="devs-contact">
    <p>
      <img src="{% static 'images/icons/phone.svg' %}" alt="Green phone" />
      Contate-nos
    </p>
    <p>
      <img src="{% static 'images/icons/email.svg' %}" alt="White mail envelope" />
      fernandes.gentilkadsonjac@gmail.com
    </p>
    <p>
      <img src="{% static 'images/icons/email.svg' %}" alt="White mail envelope" />
      fernandes.gentilalysonjac@gmail.com
    </p>
  </address>
</footer>
