{% load static %}

<header id="global-header">
  <img src="{% static 'images/icons/logoNav.svg' %}" alt="CCAM logo" />
  <img src="{% static 'images/icons/NoTextIcon.svg' %}" alt="CCAM logo sem texto" />
  <div id="user-profile">
    <img src="{{ request.user.person.profile_picture.url }}"
         alt="Ernie and Bert from Sesame Street" />
    <span>{{ request.user.person.name }}</span>
    <a href={% url "account_logout" %}>
      <img src="{% static 'images/icons/logout.svg' %}" alt="Teste" />
    </a>
  </div>
</header>
