#confirmation-modal {
  border: solid 2px var(--green);
  border-radius: 8px;
  background-color: var(--bg-color);
  font-weight: bold;
  max-width: 450px;
  text-align: center;

  padding: 40px;
  margin: auto;
  z-index: -1;
}

#confirmation-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.close-modal-buttons-container {
  gap: 30px;
}

@media (max-width: 431px) {
  #confirmation-modal {
    max-width: 100%;
  }
}
