#knowledge-certificate-form {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 1fr 0.7fr;
    grid-template-areas:
        "leftheader rightheader"
        "studentdata subjectdata"
    ;
    gap: 1.5625rem;
    height: 100%;
}

#knowledge-certificate-form header > h2:nth-of-type(1) {
    grid-area: leftheader;
}

#knowledge-certificate-form header > h2:nth-of-type(2) {
    grid-area: rightheader;
}

#student-data {
    gap: 1.5625rem;
    grid-area: studentdata;
}

#subject-data {
    grid-area: subjectdata;
}
