{% extends "base.html" %}

{% load static %}

{% block content %}
  <main id="container" class="view-table-section">
    <header class="header-with-icon">
      <img src="{% static 'people/images/icons/filter.svg' %}"
           alt="A classic, green filter icon"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Filtros</h2>
    </header>
    <section class="filter-section">
      <div class="fields-container">
        <div class="ccam-input">
          <label for="process-type">Tipo de Solicitação</label>
          <div class="ccam-select">
            <select name="process_type" id="process-type">
              <option value="------">------</option>
            </select>
          </div>
        </div>

        <div class="ccam-input">
            <label for="process-status">Status da Solicitação</label>
            <div class="ccam-select">
              <select name="process_status" id="process-status">
                <option value="------">------</option>
              </select>
            </div>
          </div>
      </div>
      {% include "core/_button.html" with button_text="Filtrar" color_class="green-svg" icon_path='people/images/icons/filter.svg' alt_text="A classic green filter object" %}
    </section>
    <header class="header-with-icon padding-from-content">
      <img src="{% static 'people/images/icons/dataTable.svg' %}"
           alt="A green school backpack"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Solicitações</h2>
    </header>
    <section>
      <table class="ccam-table">
        <thead>
          <tr>
            <th>
              <img src="{% static 'core/images/icons/type.svg' %}"
                   alt="a three-circunference green pyramid" />
              Tipo da Solicitação
            </th>
            <th>
              <img src="{% static 'core/images/icons/status.svg' %}"
                   alt="A green circunvented reticence" />
              Status da Solicitação
            </th>
            <th>
              <img src="{% static 'images/icons/course.svg' %}"
                   alt="A feather pen writing on a scroll" />
              Disciplinas
            </th>
            <th>
              <img src="{% static 'people/images/icons/actionIcon.svg' %}"
                   alt="A green settings icon indicating actions you can take on a specific table" />
              Ações
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Certificação de Conhecimento</td>
            <td>Em Análise</td>
            <td>O que rola por aí; Joga fora não: óleo velho vira sabão; Identid@des.com; Micromundos; Matematicidades</td>
            <td>
                ------
            </td>
          </tr>
          <tr>
            <td>Certificação de Conhecimento</td>
            <td>Rejeitado</td>
            <td>O que rola por aí; Joga fora não: óleo velho vira sabão; Identid@des.com; Micromundos; Matematicidades</td>
            <td>
              <div class="d-flex justify-content-around">
                {% include "core/_table_button.html" with color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye" button_text="Visualizar" %}
              </div>
            </td>
          </tr>
          <tr>
            <td>Certificação de Conhecimento</td>
            <td>Aprovado</td>
            <td>O que rola por aí; Joga fora não: óleo velho vira sabão; Identid@des.com; Micromundos; Matematicidades</td>
            <td>
                ------
            </td>
          </tr>
          <tr>
            <td>Certificação de Conhecimento</td>
            <td>Rejeitado</td>
            <td>O que rola por aí; Joga fora não: óleo velho vira sabão; Identid@des.com; Micromundos; Matematicidades</td>
            <td>
              <div class="d-flex justify-content-around">
                {% include "core/_table_button.html" with color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye" button_text="Visualizar" %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    {% include "core/_table_pagination.html" %}
    {% include "core/_confirmation_modal.html" with text="Tem certeza que deseja excluir o discente" highlighted_text="Ernie and Bert (123.456.789-10)?" %}
  </main>
{% endblock content %}
