{% load static %}

<section id="home-nav">
  <div class="home-card">
    <img src="{% static 'people/images/icons/diploma.svg' %}"
         alt="Diploma paper"
         class="green-svg"
         width="128"
         height="128" />
    <h2 class="fw-bold text-center">Certificação de Conhecimento</h2>
    {% include "core/_anchor.html" with anchor_text="Solicitar" color_class="green-svg" icon_path='people/images/icons/plus.svg' alt_text="A green circunvented plus" href='academics:create_knowledge_certificate' %}
    {% include 'core/_anchor.html' with anchor_text="Minhas solicitações" color_class="green-svg" icon_path='people/images/icons/searchIcon.svg' alt_text="A green magnifying glass" href='academics:processes_list' %}
  </div>
  <div class="home-card">
    <img src="{% static 'people/images/icons/exportNotes.svg' %}"
         alt="A paper with an upwards bottom right corner arrow"
         class="green-svg"
         width="128"
         height="128" />
    <h2 class="fw-bold text-center">Aproveitamento de Disciplinas</h2>
    {% include "core/_anchor.html" with anchor_text="Solicitar" color_class='green-svg' icon_path='people/images/icons/plus.svg' alt_text="A green circunvented plus" href='academics:create_course_progress' %}
    {% include 'core/_anchor.html' with anchor_text="Minhas solicitações" color_class="green-svg" icon_path='people/images/icons/searchIcon.svg' alt_text="A green magnifying glass" href='academics:processes_list' %}
  </div>
</section>
