{% extends "base.html" %}

{% load static %}

{% block content %}
  <main id="container">
    <h1 class="green-text fw-bold">Certificação de Conhecimentos</h1>
    <form method="post" id="knowledge-certificate-form" class="pt-4">
      <h2 class="fw-bold">
        <img src="{% static 'people/images/icons/database.svg' %}"
             alt="Disks stacked on top of each other"
             class="green-svg"
             width="35"
             height="35" />
        Preencha os dados:
      </h2>
      <h2 class="text-start fw-bold">
        <img src="{% static 'students/images/icons/book.svg' %}"
             alt="A book"
             class="green-svg"
             width="35"
             height="35" />
        Escolha as disciplinas:
      </h2>
      <fieldset id="student-data"
                class="d-flex flex-wrap flex-shrink-1 align-items-center pt-2">
        <div class="ccam-input">
          <label for="registration">Matrícula</label>
          <input type="text"
                 name="registration"
                 id="registration"
                 placeholder="20221094040009" />
        </div>
        <div class="ccam-input">
          <label for="name">Nome</label>
          <input type="text" name="name" id="name" placeholder="Donkus" />
        </div>
        <div class="ccam-input">
          <label for="phone">Fone</label>
          <input type="text" name="phone" id="phone" placeholder="(84) 98172-3452" />
        </div>
        <div class="ccam-input">
          <label for="course">Curso</label>
          <div class="ccam-select">
            <select name="course" id="course">
              <option value="------">------</option>
                                  </select>
                              </div>
                        </div>
                        <div class="ccam-input">
                          <label for="school_term">Período Letivo</label>
                        <div class="ccam-select">
                          <select name="school_term" id="school_term">
      <option value="------">------</option>
    </select>
  </div>
</div>
<div class="ccam-input">
  <label for="email">Email</label>
  <input type="email"
         name="email"
         id="email"
         placeholder="jkl1231918@gmail.com" />
</div>
</fieldset>
<fieldset id="subject-data" class="d-flex flex-column w-100 pt-4">
  <div class="ccam-checkbox">
    <input type="checkbox" value="informatics" name="courses" id="informatics" />
    <label for="informatics">Informática</label>
  </div>
  <div class="ccam-checkbox">
    <input type="checkbox"
           value="mobile_devices"
           name="courses"
           id="mobile_devices" />
    <label for="mobile_devices">Dispositivos Móveis</label>
  </div>
  <div class="ccam-checkbox">
    <input type="checkbox" value="qm" name="courses" id="qm" />
    <label for="qm">Métodos Quantitativos</label>
  </div>
  <div class="ccam-checkbox">
    <input type="checkbox"
           value="workplace_psychology"
           name="courses"
           id="workplace_psychology" />
    <label for="workplace_psychology">Psicologia do Trabalho</label>
  </div>
</fieldset>
</form>
{% include "core/_button.html" with button_text="Enviar" custom_class="align-self-end" color_class="green-svg" icon_path='people/images/icons/doubleTick.svg' alt_text="Double overlapping greent ticks" form_id="knowledge-certificate-form" %}
</main>
{% endblock content %}
