{% extends "base.html" %}
{% load static %}
{% load breadcrumb_item %}
{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:managers:home' %}
  {% breadcrumb_item text="Alunos" icon="list" href='people:students:list' %}
  {% breadcrumb_item text="Visualizar Aluno" icon="visibility" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
    <main id="container" class="centered-content student-details-center-vertical">
        <section class="prof-pic-and-name">
          <img src="{{ student.person.profile_picture.url }}"
               alt="Ernie and Bert from Sesame Street"
               width="150"
               height="151" />
          <span>{{ student.person.name }}</span>
        </section>
        <section class="person-info">
          {% include "people/person_detail.html" with person=student.person only %}
          <div>
            <span><b>Curso:</b> {{ student.course.name }}</span>
            <span><b>Período ou ano letivo:</b> {{ student.current_grade_semester }}º</span>
          </div>
        </section>
    </main>
{% endblock content %}
