{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}
{% load button %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:managers:home' %}
  {% breadcrumb_item text="Cadastrar Aluno" icon="add_circle" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
<main id="container">
    {% include "core/_form_errors.html" %}
    <header>
      <h1 class="fw-bold green-text">Cadastrar Aluno</h1>
    </header>
    <form method="post" enctype="multipart/form-data"
          class="w-100 d-flex flex-column justify-content-evenly"
          id="student-form">
      {% csrf_token %}
      {% include "people/person_form.html" with person_form=form.person %}
        <fieldset class="row align-items-center mt-4">
            <div class="ccam-input">
                <label for="{{ form.student.course.id_for_label }}">Curso</label>
                <div class="ccam-select">
                    {{ form.student.course }}
                </div>
            </div>
            <div class="ccam-input">
              <label for="{{ form.student.current_grade_semester.id_for_label }}">Ano/Período</label>
              <div class="ccam-select">
                {{ form.student.current_grade_semester }}
              </div>
            </div>
        </fieldset>
</form>
{% button button_text="Enviar" color_class="green-svg" icon="done_all" custom_class="align-self-end" form_id="student-form" %}
</main>
{% endblock content %}
