{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Entrar" %}
{% endblock head_title %}
{% block inner %}
  <header id="login-form-header">
    <img src="{% static 'images/icons/logoNav.svg' %}"
         alt="CCAM Logo"
         width="391" />
    <p>
      Protocolar <span>Certificação de Conhecimentos</span> e <span>Aprovetiamento de Disciplinas do IFRN</span>
    </p>
  </header>
  <img src="{% static 'images/icons/FilingSystem.svg' %}"
       alt="Woman browsing through files in a folder"
       id="filing-system-img"
       width="559" />
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>
      {% translate "Please sign in with one of your existing third party accounts:" %}
      {% if ACCOUNT_ALLOW_REGISTRATION %}
        {% blocktranslate trimmed %}
          Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:
        {% endblocktranslate %}
      {% endif %}
    </p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% translate "or" %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
  {% else %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      <p>
        {% blocktranslate trimmed %}
          If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.
        {% endblocktranslate %}
      </p>
    {% endif %}
  {% endif %}
  <form class="login"
        method="post"
        action="{% url 'account_login' %}"
        id="login-form">
    {% csrf_token %}
    <div class="ccam-input">
      <label for="registration">
        Matrícula
        <img src="{% static 'images/icons/info.svg' %}"
             class="green-svg"
             alt="Letter 'i' in a circumference" />
      </label>
      <input type="text"
             name="login"
             id="registration"
             placeholder="20221094040009" />
    </div>
    <div class="ccam-input">
      <label for="password">
        Senha
        <img src="{% static 'images/icons/info.svg' %}"
             class="green-svg"
             alt="Letter 'i' in a circumference" />
      </label>
      <input type="password"
             name="password"
             id="password"
             placeholder="****************" />
    </div>
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="ccam-button" type="submit">
      Entrar
      <img class="green-svg" src="{% static 'images/icons/login.svg' %}" alt="" />
    </button>
  </form>
{% endblock inner %}
