.ccam-input {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.ccam-input > label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--green);
}

.ccam-input > input:placeholder-shown {
    color: var(--placeholder-text-color);
}

.ccam-input > input, .ccam-input select {
    display: flex;
    align-items: center;
    background-color: var(--element-dark);
    font-size: 1rem;
    padding: 0.4375rem 0.625rem;
    width: 18.75rem;
    border-radius: 0.5rem;
    border: none;
}

.ccam-input select {
    appearance: none;
    position: relative;
}

.ccam-input > .ccam-select::after {
    position: absolute;
    /* transform: translateY(-100%) translateX(1100%); */
    content: url("../images/icons/checkBoxArrowDown.svg");
    filter: var(--green-svg);
}

.ccam-input > input:focus {
    outline: solid 0.125rem var(--green);
}

@media (max-width: 431px) {
    .ccam-input select {
        width: 100%;
    }

    .ccam-input > .ccam-select::after {
        right: 2%;
        bottom: 4%;
    }
}
