{% load static %}
{% load anchor %}

<section id="coordinators-section">
  <div class="coordinators-action-container">
    <div>
      <span class="material-symbols-outlined green-text fs-2">
        gavel
      </span>
      <h2>Bancas</h2>
    </div>
    {% anchor anchor_text="Cadastrar Banca" color_class="green-svg" icon="add_circle" href='academics:subjects_list' %}
  </div>
  <div class="coordinators-action-container">
    <div>
      <span class="material-symbols-outlined green-text fs-2">
        school
      </span>
      <h2>Disciplinas</h2>
    </div>
    {% anchor icon="add_circle" color_class="green-text" href="academics:subjects_create" anchor_text="Cadastrar Disciplina" %}
    {% anchor icon="list" href="academics:subjects_list" anchor_text="Listagem" %}
  </div>
</section>
