{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}
{% load bootstrap_icons %}
{% load button %}
{% load simple_table_button %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:managers:home' %}
  {% breadcrumb_item text="Coordenadores de curso" icon="list" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container" class="view-table-section">
    <header class="header-with-icon">
      <img src="{% static 'people/images/icons/filter.svg' %}"
           alt="A classic, green filter icon"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Filtros</h2>
    </header>
    <form method="get" id="coordinators-filter" class="filter-section">
      <div class="fields-container">
        {% include "people/person_filter.html" with filter=filter %}
        <div class="ccam-input">
          {{ filter.form.course.label_tag }}
          <div class="ccam-select">
            {{ filter.form.course }}
          </div>
        </div>
      </div>
      {% include "core/_button.html" with button_text="Filtrar" color_class="green-svg" icon_path='people/images/icons/filter.svg' alt_text="A classic green filter object" %}
    </form>
    <header class="header-with-icon padding-from-content">
      <img src="{% static 'people/images/icons/cap.svg' %}"
           alt="A green student cap"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Coordenadores de curso</h2>
    </header>
    <section>
      <table class="ccam-table">
        <thead>
          <tr>
            <th>
              <img src="{% static 'people/images/icons/signatureIcon.svg' %}"
                   alt="A handwritten signature" />
              Nome
            </th>
            <th>
              <img src="{% static 'people/images/icons/personVCard.svg' %}"
                   alt="A VCard" />
              CPF
            </th>
            <th>
              <img src="{% static 'people/images/icons/badge.svg' %}"
                   alt="A badge containing ID information" />
              Matrícula
            </th>
            <th>
              <img src="{% static 'images/icons/email.svg' %}"
                   alt="A mail letter envelope" />
              Email
            </th>
            <th>
              <img src="{% static 'seac/images/icons/role.svg' %}"
                   alt="A green group of three people" />
              Curso
            </th>
            <th>
              <img src="{% static 'people/images/icons/actionIcon.svg' %}"
                   alt="A green settings icon indicating actions you can take on a specific table" />
              Ações
            </th>
          </tr>
        </thead>
        <tbody>
          {% for coordinator in object_list %}
          <tr>
            <td>{{ coordinator.person.name }}</td>
            <td>{{ coordinator.person.cpf }}</td>
            <td>{{ coordinator.person.registration }}</td>
            <td>{{ coordinator.person.email }}</td>
            <td>{{ coordinator.course }}</td>
            <td>
              <div class="d-flex justify-content-around">
                {% simple_table_button color_class='green-text' icon='visibility' abs_url=coordinator.get_absolute_url %}
                {% simple_table_button color_class='green-text' icon='edit' abs_url=coordinator.get_update_url %}
                {% url 'people:coordinators:delete' coordinator.pk as coordinator_delete_url %}
                {% include "core/_table_delete_button.html" with delete_url=coordinator_delete_url %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    {% include "core/_table_pagination.html" %}
    {% include "core/_confirmation_modal.html" with text="Tem certeza que deseja excluir o funcionário" highlighted_text="Ernie and Bert (123.456.789-10)" %}
  </main>
{% endblock content %}