{% extends 'base.html' %}

{% load static %}
{% load breadcrumb_item %}
{% load button %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:coordinators:home' %}
  {% breadcrumb_item text="Cadastrar Disciplina" icon="more" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container"
        class="left-aligned-content">
        <h1 class="green-text fw-bold">Cadastrar Disciplina</h1>
        <section id="add-subject-section" class="pt-4">
            <form method="post" id="subject-form">
                {% csrf_token %}
                <h2 class="fw-bold">
                    <img
                    src="{% static 'academics/images/icons/database.svg' %}"
                    alt="Disks stacked on top of each other"
                    class="green-svg"
                    width="35"
                    height="35"
                    />
                    Preencha os dados:
                </h2>
            {% include "core/_form_errors.html" %}
            <fieldset id="subject-data" class="pt-4">
                <div class="ccam-input">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="ccam-input">
                    {{ form.grade_semester_availability.label_tag }}
                    {{ form.grade_semester_availability }}
                </div>
                <div class="ccam-input">
                    {{ form.course.label_tag }}
                    <div class="ccam-select">
                        {{ form.course }}
                    </div>
                </div>
                <div class="ccam-radio-input">
                    <p class="m-0 p-0 green-text fw-bold">{{ form.educational_level.label }}</p>
                    <div class="d-flex" id="radio-group">
                        {% for value, educational_level in form.educational_level.field.choices %}
                            {% if value %}
                                <div class="d-flex">
                                    <input type="radio" name="{{ form.educational_level.html_name }}" {% if value == object.educational_level %} checked {% endif %} id="{{ form.educational_level.id_for_label }}" value="{{ value }}" />
                                    <label class="fw-bold" for="{{ form.educational_level.id_for_label }}">{{ educational_level }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
            </form>
            {% button button_text="Enviar" icon="done_all" form_id="subject-form" %}
        </section>
  </main>
{% endblock content %}
