.view-table-section {
    width: 100%;
}

.filter-section {
    margin-top: 1.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.fields-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.165rem;
}

.fields-container button {
    margin-left: auto;
}
