.home-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-card > span.material-symbols-outlined {
    font-size: 120px;
}

.home-card h2 {
    font-size: 20px;
}

#home-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 97px;
}

@media (max-width: 431px) {
    #home-nav {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 10px;
    }
}
