.prof-pic-and-name {
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 1.43rem;
    align-items: center;
}

.prof-pic-and-name img {
    border-radius: 50%;
    border: 2px solid var(--green);
    object-fit: cover;
}

.prof-pic-and-name span {
    font-size: 34px;
    font-weight: bold;
}

.person-info {
    border-radius: 10px;
    background-color: var(--element-dark);
    margin-top: 3rem;
    width: 100%;
    padding: 40px 0px;

    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.person-info div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 0.2rem 3rem;
}

.assessment-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 431px) {
    .person-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 40px 10px;
        width: fit-content;
    }

    .person-info div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .assessment-buttons {
        width: 100%;
        flex-direction: column;
        gap: 2rem;

    }

    .assessment-buttons form button.ccam-button {
        margin-top: 10px;
    }

    .assessment-buttons form, .assessment-buttons button {
        width: 100%;
    }
}

@media (min-width: 1441px) {
    .student-details-center-vertical {
        justify-content: center;
    }
}
