.prof-pic-and-name {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    gap: 1.43rem;
    align-items: center;
    border: 1px solid white;
}

.prof-pic-and-name img {
    border-radius: 50%;
    border: 2px solid var(--green);
    object-fit: cover;
}

.prof-pic-and-name span {
    font-size: 34px;
    font-weight: bold;
}

.student-info {
    border-radius: 10px;
    background-color: var(--element-dark);
    margin-top: 5rem;
    width: 100%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 35px;
}

.left-side {
    grid-column: 0 / 1;
}

.right-side {
    grid-column: 1 / 2;
}
