{% load static %}

<section id="home-nav">
  <div class="home-card">
    <img src="{% static 'people/images/icons/cap.svg' %}"
         alt="University cap"
         class="green-svg"
         width="128"
         height="128" />
    <h2 class="fw-bold text-center">Funcionário da SEAC</h2>
    {% include "core/_anchor.html" with anchor_text="Cadastrar" color_class="green-svg" icon_path='people/images/icons/plus.svg' alt_text="A green circunvented plus" href='academics:create_knowledge_certificate' %}
    {% include "core/_anchor.html" with anchor_text="Listagem" color_class="green-svg" icon_path='people/images/icons/list.svg' alt_text="A green unordered_list" href='people:seac:list' %}
  </div>
  <div class="home-card">
    <img src="{% static 'people/images/icons/backpack-fill.svg' %}"
         alt="A paper with an upwards bottom right corner arrow"
         class="green-svg"
         width="120"
         height="120" />
    <h2 class="fw-bold text-center pt-2">Aluno</h2>
    {% include "core/_anchor.html" with anchor_text="Cadastrar" color_class='green-svg' icon_path='people/images/icons/plus.svg' alt_text="A green circunvented plus" href='people:students:create' %}
    {% include "core/_anchor.html" with anchor_text="Listagem" color_class="green-svg" icon_path='people/images/icons/list.svg' alt_text="A green unordered_list" href='people:students:list' %}
  </div>
  <div class="home-card">
    <img src="{% static 'people/images/icons/teacher.svg' %}"
         alt="A magnifying glass used on a chart"
         class="green-svg"
         width="128"
         height="128" />
    <h2 class="fw-bold text-center">Professor</h2>
    {% include "core/_anchor.html" with anchor_text="Cadastrar" color_class='green-svg' icon_path='people/images/icons/plus.svg' alt_text="A green circunvented plus" href='people:teachers:create' %}
    {% include "core/_anchor.html" with anchor_text="Listagem" color_class="green-svg" icon_path='people/images/icons/list.svg' alt_text="A green unordered_list" href='people:teachers:list' %}
  </div>
  <div class="home-card">
    <img src="{% static 'people/images/icons/course_manager.svg' %}"
         alt="A magnifying glass used on a chart"
         class="green-svg"
         width="128"
         height="128" />
    <h2 class="fw-bold text-center">Coordenador de Curso</h2>
    {% include "core/_anchor.html" with anchor_text="Cadastrar" color_class='green-svg' icon_path='people/images/icons/plus.svg' alt_text="A green circunvented plus" href='academics:create_course_progress' %}
    {% include "core/_anchor.html" with anchor_text="Listagem" color_class="green-svg" icon_path='people/images/icons/list.svg' alt_text="A green unordered_list" href='people:directors:list' %}
  </div>
</section>
