{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:students:home' %}
  {% breadcrumb_item text="Acompanhar Solicitações de Aproveitamento de Disciplina" icon="query_stats" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container" class="view-table-section">
    <header class="header-with-icon">
      <img src="{% static 'people/images/icons/filter.svg' %}"
           alt="A classic, green filter icon"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Filtros</h2>
    </header>
    <form method="get" class="filter-section">
      <div class="fields-container">
          <div class="ccam-input">
            {{ filter.form.status.label_tag }}
            <div class="ccam-select">
                {{ filter.form.status }}
            </div>
          </div>
      </div>
      {% include "core/_button.html" with button_text="Filtrar" color_class="green-svg" icon_path='people/images/icons/filter.svg' alt_text="A classic green filter object" %}
    </form>
    <header class="header-with-icon padding-from-content">
      <span class="material-symbols-outlined green-text fs-2">
        data_table
      </span>
      <h2>Solicitações</h2>
    </header>
    <section>
      <table class="ccam-table">
        <thead>
          <tr>
            <th>
              <img src="{% static 'core/images/icons/status.svg' %}"
                   alt="A green circunvented reticence" />
              Status da Solicitação
            </th>
            <th>
              <img src="{% static 'images/icons/course.svg' %}"
                   alt="A feather pen writing on a scroll" />
              Disciplinas
            </th>
            <th>
              <img src="{% static 'people/images/icons/actionIcon.svg' %}"
                   alt="A green settings icon indicating actions you can take on a specific table" />
              Ações
            </th>
          </tr>
        </thead>
        <tbody>
          {% for subject_dispensal in object_list %}
            <tr>
                <td>{{ subject_dispensal.get_status_display }}</td>
                <td>{{ subject_dispensal.get_subjects_names }}</td>
                <td>
                    {% if not subject_dispensal.justification %}
                        -----------
                    {% else %}
                        {% include "core/_table_button.html" with color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye" button_text="Visualizar" %}
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    {% include "core/_table_pagination.html" %}
  </main>
{% endblock content %}
