{% load static %}
{% load bootstrap_icons %}

{% url 'people:students:detail' pk as detail_url %}

{% if detail_url %}
  <a class="d-flex align-items-center ccam-simple-table-button {{ custom_class }}" {% if href %} href="{{ detail_url }}"{% endif %} {% if id %}id="{{ id }}"{% endif %}>
    {% if bootstrap_icon %}
      {% bs_icon icon color='#0bda51' %}
    {% else %}
      <span class="material-symbols-outlined {{ color_class }}">
          {{ icon }}
      </span>
    {% endif %}
  </a>
{% else %}
  <a class="d-flex align-items-center ccam-simple-table-button {{ custom_class }}" {% if href %} href="{% url href %}"{% endif %} {% if id %}id="{{ id }}"{% endif %}>
    {% if bootstrap_icon %}
      {% bs_icon icon color='#0bda51' %}
    {% else %}
      <span class="material-symbols-outlined {{ color_class }}">
          {{ icon }}
      </span>
    {% endif %}
  </a>
{% endif %}
