{% load static %}

<a href="{% if href %}{% url href %}{% elif abs_url %}{{ abs_url }}{% endif %}" class="button-with-link">
  <button class="ccam-table-button {{ custom_class }}" type="submit">
    {{ button_text }}
    {% if bootstrap_icon %}
        <i class="{{ icon }} pe-2 {{ color_class }}"></i>
    {% elif image_icon %}
        <img class="{{ color_class }} pe-2" src="{% static icon_path %}" alt="Breadcrumb icon" width="30" height="30"/>
    {% else %}
        <span class="material-symbols-{{ icon_style }} {{ color_class }} pe-2">{{ icon }}</span>
    {% endif %}
  </button>
</a>
