{% load static %}

<a
    href="{% if href %}{% url href %}{% else %}{{ abs_url }}{% endif %}"
    class="d-flex align-items-center fw-bold {% if active %} green-text active {% endif %} ccam-breadcrumb-item" >

    {% if bootstrap_icon %}
        <i class="{{ icon }} pe-2"></i>
    {% elif image_icon %}
        <img class="green-svg pe-2" src="{% static icon_path %}" alt="Breadcrumb icon" width="30" height="30"/>
    {% else %}
        <span class="material-symbols-{{ icon_style }} green-svg pe-2">{{ icon }}</span>
    {% endif %}
    {{ text }}
    {% if not last_item %}
        <span class="material-symbols-{{ icon_style }} px-2">chevron_right</span>
    {% endif %}
</a>
