{% load static %}
{% load param_replace %}

<section id="table-pagination">
    <section id="table-page-selector">
      <div id="page-selector-input">
        <label class="pe-2" for="page">Página</label>
        <select name="page" id="table-pagination">
          {% for page_number in paginator.page_range %}
            <option {% if page_number == current_page %} selected {% endif %} value="page-{{ page_number }}-link">{{ page_number }}</option>
          {% endfor %}
        </select>
        <span class="ps-2">de {{ paginator.num_pages }}</span>
        <div class="anchors">
          {% for page_number in paginator.page_range %}
            <a id="page-{{ page_number }}-link" href="?{% param_replace page=page_number %}"></a>
          {% endfor %}
        </div>
      </div>
    </section>
    <section id="table-navigation-arrows">
      {% if page_obj.has_previous %}
      <a href=""><button><img src="{% static 'core/images/icons/backbutton.svg' %}" class="green-svg left" alt="a green arrow pointing left"/></button></a>
      {% endif %}

      {% if page_obj.has_next %}
        <a href=""><button><img src="{% static 'core/images/icons/backbutton.svg' %}" class="green-svg right" alt="a green arrow pointing right"/></button></a>
      {% endif %}
    </section>
  </section>
