{% load static %}

<section id="table-pagination">
    <section id="table-page-selector">
      <div id="page-selector-input">
        <label class="pe-2" for="page">Página</label>
        <select name="page" id="page">
          <option value="500">500</option>
          <option value="505">505</option>
        </select>
        <span class="ps-2">de 505</span>
      </div>
    </section>
    <section id="table-navigation-arrows">
      <a href=""><button><img src="{% static 'core/images/icons/backbutton.svg' %}" class="green-svg" alt="a green arrow pointing left"/></button></a>
      <a href=""><button><img src="{% static 'core/images/icons/backbutton.svg' %}" class="green-svg" alt="a green arrow pointing right"/></button></a>
    </section>
  </section>
