{% load static %}

<section class="view-table-section">
  <header class="header-with-icon">
    <img src="{% static 'people/images/icons/filter.svg' %}"
         alt="A classic, green filter icon"
         width="35"
         height="35"
         class="green-svg" />
    <h2>Filtros</h2>
  </header>
  <section class="filter-section">
    <div class="fields-container">
      <div class="ccam-input">
        <label for="graduation-course">Curso</label>
        <input type="" name="graduation-course" id="graduation-course" />
      </div>
      <div class="ccam-input">
        <label for="course-name">Disciplina</label>
        <input type="text" name="course-name" id="course-name" />
      </div>
      <div class="ccam-input">
        <label for="year-semester">Ano/Período</label>
        <div class="ccam-select">
          <select type="number" name="year-semester" id="year-semester">
            <option value="------">------</option>
          </select>
        </div>
      </div>
    </div>
    {% include "core/_button.html" with button_text="Filtrar" color_class="green-svg" icon_path='people/images/icons/filter.svg' alt_text="A classic green filter object" href='seac:home' %}
  </section>
  <header class="header-with-icon padding-from-content">
    <img src="{% static 'people/images/icons/dataTable.svg' %}"
         alt="A green icon representation of a table with data on it."
         width="35"
         height="35"
         class="green-svg" />
    <h2>Disciplinas</h2>
  </header>
  <section>
    <table class="ccam-table">
      <thead>
        <tr>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/cap.svg' %}"
                 alt="A green signature icon" />
            Nome
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/cap.svg' %}"
                 alt="A green signature icon" />
            Curso
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/cap.svg' %}"
                 alt="A green signature icon" />
            Nível
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/cap.svg' %}"
                 alt="A green signature icon" />
            Ano/Período
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/gavelIcon.svg' %}"
                 alt="A green signature icon" />
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>APOO</td>
          <td>ADS</td>
          <td>Superior</td>
          <td>4º</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Banca" color_class="green-svg" icon_path='people/images/icons/gavelIcon.svg' alt_text="A green gavel" href='academics:courses_dispensal_committees' %}
          </td>
        </tr>
        <tr>
          <td>APOO</td>
          <td>ADS</td>
          <td>Superior</td>
          <td>4º</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Banca" color_class="green-svg" icon_path='people/images/icons/gavelIcon.svg' alt_text="A green gavel" href='academics:courses_dispensal_committees' %}
          </td>
        </tr>
        <tr>
          <td>APOO</td>
          <td>ADS</td>
          <td>Superior</td>
          <td>4º</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Banca" color_class="green-svg" icon_path='people/images/icons/gavelIcon.svg' alt_text="A green gavel" href='academics:courses_dispensal_committees' %}
          </td>
        </tr>
        <tr>
          <td>APOO</td>
          <td>ADS</td>
          <td>Superior</td>
          <td>4º</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Banca" color_class="green-svg" icon_path='people/images/icons/gavelIcon.svg' alt_text="A green gavel" href='academics:courses_dispensal_committees' %}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
