{% load static %}

<section>
  <header class="header-with-icon">
    <img src="{% static 'people/images/icons/filter.svg' %}"
         alt="A classic, green filter icon"
         width="35"
         height="35"
         class="green-svg" />
    <h2>Filtros</h2>
  </header>
  <section class="filter-section">
    <div class="fields-container">
      <div class="ccam-input">
        <label for="professor-id">Matrícula</label>
        <input type="text" name="professor-id" id="professor-id" />
      </div>
      <div class="ccam-input">
        <label for="professor-email">E-mail</label>
        <input type="text" name="professor-email" id="professor-email" />
      </div>
      <div class="ccam-input">
        <label for="professor-name">Nome</label>
        <input type="text" name="professor-name" id="professor-name" />
      </div>
      <div class="ccam-input">
        <label for="professor-itr">CPF</label>
        <input type="text" name="professor-itr" id="professor-itr" />
      </div>
      <div class="ccam-input">
        <label for="course">Curso</label>
        <div class="ccam-select">
          <select name="course" id="course">
            <option value="------">------</option>
          </select>
        </div>
      </div>
      {% include "core/_button.html" with button_text="Filtrar" color_class="green-svg" icon_path='people/images/icons/filter.svg' alt_text="A classic green filter object" href='seac:home' %}
    </div>
  </section>
  <header class="header-with-icon padding-from-content">
    <img src="{% static 'people/images/icons/dataTable.svg' %}"
         alt="A green icon representation of a table with data on it."
         width="35"
         height="35"
         class="green-svg" />
    <h2>Docentes</h2>
  </header>
  <section>
    <table class="ccam-table">
      <thead>
        <tr>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/signatureIcon.svg' %}"
                 alt="A green signature icon" />
            Nome
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/personVCard.svg' %}"
                 alt="A green verification card containing a person" />
            CPF
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/badge.svg' %}"
                 alt="A green, squared-badge, with round borders containing someone's info." />
            Matrícula
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static '/images/icons/email.svg' %}"
                 alt="A green, google-like email icon." />
            Email
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/actionIcon.svg' %}"
                 alt="A green settings icon indicating actions you can take on a specific table." />
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ernie and Bert</td>
          <td>123.456.789-10</td>
          <td>20231094050016</td>
          <td>ernie.bert@sesame.com</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Adicionar" color_class="green-svg" icon_path='coordinators/images/icons/personAddIcon.svg' alt_text="A green eye icon" href='academics:kc_coordinators_committee' %}
          </td>
        </tr>
        <tr>
          <td>Ernie and Bert</td>
          <td>123.456.789-10</td>
          <td>20231094050016</td>
          <td>ernie.bert@sesame.com</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Adicionar" color_class="green-svg" icon_path='coordinators/images/icons/personAddIcon.svg' alt_text="A green eye icon" href='academics:kc_coordinators_committee' %}
          </td>
        </tr>
        <tr>
          <td>Ernie and Bert</td>
          <td>123.456.789-10</td>
          <td>20231094050016</td>
          <td>ernie.bert@sesame.com</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Adicionar" color_class="green-svg" icon_path='coordinators/images/icons/personAddIcon.svg' alt_text="A green eye icon" href='academics:kc_coordinators_committee' %}
          </td>
        </tr>
        <tr>
          <td>Ernie and Bert</td>
          <td>123.456.789-10</td>
          <td>20231094050016</td>
          <td>ernie.bert@sesame.com</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Adicionar" color_class="green-svg" icon_path='coordinators/images/icons/personAddIcon.svg' alt_text="A green eye icon" href='academics:kc_coordinators_committee' %}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
