{% load static %}

<section class="prof-pic-and-name">
  <img src="{{ course_dispensal.student.person.profile_picture }}"
       alt="Ernie and Bert from Sesame Street"
       width="150"
       height="151" />
  <span>Ernie and Bert</span>
</section>
<section class="student-info">
  <div>
    <span><b>Matrícula:</b> {{ course_dispensal.student.person.registration }}</span>
    <span><b>Curso:</b> {{ course_dispensal.student.course.name }}</span>
    <span><b>Período:</b> {{ course_dispensal.student.current_grade_semester }}</span>
    <span><b>Disciplinas IFRN:</b> {{ course_dispensal.get_subjects_names }}</span>
  </div>
  <div>
    <span><b>Fone: </b>{{ course_dispensal.student.person.phone_number }}</span>
    <span><b>E-mail: </b>{{ course_dispensal.student.person.email }}</span>
    <span><b>Status: </b>{{ course_dispensal.status }}</span>
  </div>
</section>
<section class="assessment-buttons">
  {% include "core/_button.html" with button_text="Aprovar" color_class="green-svg" icon_path='core/images/icons/doneAllIcon.svg' alt_text="A double tick symbol used for approval of something." %}
  {% include "core/_button.html" with button_text="Reprovar" color_class="red-svg" icon_path='core/images/icons/cancel.svg' alt_text="A red circle with the letter x on it." %}
</section>
