{% load static %}
{% load button %}

<section class="prof-pic-and-name">
  <img src="{{ course_dispensal.student.person.profile_picture.url }}"
       alt="Ernie and Bert from Sesame Street"
       width="150"
       height="151" />
  <span>{{ course_dispensal.student.person.name }}</span>
</section>
<section class="person-info">
  <div>
    <span><b>Matrícula:</b> {{ course_dispensal.student.person.registration }}</span>
    <span><b>Curso:</b> {{ course_dispensal.student.course.name }}</span>
    <span><b>Período:</b> {{ course_dispensal.student.current_grade_semester }}</span>
    <span><b>Disciplinas IFRN:</b> {{ course_dispensal.get_subjects_names }}</span>
  </div>
  <div>
    <span><b>Fone: </b>{{ course_dispensal.student.person.phone_number }}</span>
    <span><b>E-mail: </b>{{ course_dispensal.student.person.email }}</span>
    <span><b>Status: </b>{{ course_dispensal.status }}</span>
  </div>
</section>
<div class="assessment-buttons">
  <form method="post" class="assessment-buttons">
    {% csrf_token %}
    {% button button_text="Aprovar" color_class="green-svg" icon="done_all" name=form.status.html_name value=form.status.field.choices.0.0 type="submit" %}
    <button hx-get="{% url 'academics:reject_subject_dispensal' course_dispensal.pk %}" hx-swap="innerHTML" hx-target="#confirmation-modal" hx-trigger="click" class="ccam-button confirmation-modal-trigger">
      Rejeitar
      <span class="material-symbols-outlined red-svg">
        cancel
      </span>
    </button>
  </form>
</div>

{% include "core/_confirmation_modal.html" %}
