{% load static %}

<main class="view-table-section">
  <header class="header-with-icon">
    <img src="{% static 'people/images/icons/filter.svg' %}"
         alt="A classic, green filter icon"
         width="35"
         height="35"
         class="green-svg" />
    <h2>Filtros</h2>
  </header>
  <section class="filter-section">
    <div class="fields-container">
      <div class="ccam-input">
        <label for="student-id">Matrícula</label>
        <input type="text" name="student-id" id="student-id" />
      </div>
      <div class="ccam-input">
        <label for="request-submission-date">Data de Submissão</label>
        <input type="date"
               name="request-submission-date"
               id="request-submission-date" />
      </div>
      <div class="ccam-input">
        <label for="student-name">Nome do aluno</label>
        <input type="text" name="student-name" id="student-name" />
      </div>
    </div>
    {% include "core/_button.html" with button_text="Filtrar" color_class="green-svg" icon_path='people/images/icons/filter.svg' alt_text="A classic green filter object" href='seac:home' %}
  </section>
  <header class="header-with-icon padding-from-content">
    <img src="{% static 'people/images/icons/dataTable.svg' %}"
         alt="A green icon representation of a table with data on it."
         width="35"
         height="35"
         class="green-svg" />
    <h2>Solicitações</h2>
  </header>
  <section>
    <table class="ccam-table">
      <thead>
        <tr>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/signatureIcon.svg' %}"
                 alt="A green signature icon" />
            Nome
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/personVCard.svg' %}"
                 alt="A green verification card containing a person" />
            Matrícula
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/calendarIcon.svg' %}"
                 alt="A green and simple calendar that marks an event." />
            Data de Submissão
          </th>
          <th>
            <img width="30"
                 height="30"
                 src="{% static 'people/images/icons/actionIcon.svg' %}"
                 alt="A green settings icon indicating actions you can take on a specific table." />
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ernie and Bert</td>
          <td>20231094050016</td>
          <td>22/09/23</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:courses_dispensal_detail' %}
          </td>
        </tr>
        <tr>
          <td>Ernie and Bert</td>
          <td>20231094050016</td>
          <td>22/09/23</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:courses_dispensal_detail' %}
          </td>
        </tr>
        <tr>
          <td>Ernie and Bert</td>
          <td>20231094050016</td>
          <td>22/09/23</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:courses_dispensal_detail' %}
          </td>
        </tr>
        <tr>
          <td>Ernie and Bert</td>
          <td>20231094050016</td>
          <td>22/09/23</td>
          <td>
            {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:courses_dispensal_detail' %}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
