{% extends 'base.html' %}
{% load breadcrumb_item %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:seac:home' %}
  {% breadcrumb_item text="Aproveitamento de Disciplina" icon="export_notes" href='academics:courses_dispensal' %}
  {% breadcrumb_item text="Visualizar" icon="visibility" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container"
        class="centered-content student-details-center-vertical">
    {% include 'academics/seac_academics/_courses_dispensal_student_details.html' %}
  </main>
{% endblock content %}
