{% extends 'base.html' %}
{% load breadcrumb_item %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:seac:home' %}
  {% breadcrumb_item text="Certificação de Conhecimentos" image_icon=True icon_path='people/images/icons/diploma.svg' active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container" class="left-aligned-content">
    {% include 'academics/seac_academics/_seac_view_knowledge_certificates.html' %}
  </main>
{% endblock content %}
