{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}

{% block breadcrumb_items %}
  {% breadcrumb_item text="Home" icon="home" href='people:teachers:home' %}
  {% breadcrumb_item text="Aproveitamento de Disciplina" icon="export_notes" active=True last_item=True %}
{% endblock breadcrumb_items %}

{% block content %}
  <main id="container" class="view-table-section">
    <header class="header-with-icon">
      <img src="{% static 'people/images/icons/filter.svg' %}"
           alt="A classic, green filter icon"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Filtros</h2>
    </header>
    <section class="filter-section">
      <div class="fields-container">
        <div class="ccam-input">
          <label for="course">Curso</label>
          <div class="ccam-select">
            <select name="course" id="course">
              <option value="------">------</option>
            </select>
          </div>
        </div>

        <div class="ccam-input">
            <label for="subject">Disciplina</label>
            <div class="ccam-select">
              <select name="subject" id="subject">
                <option value="------">------</option>
              </select>
            </div>
        </div>

        <div class="ccam-input">
            <label for="school-term">Ano/Período</label>
            <input type="number" name="school-term" id="school-term"/>
        </div>

        <div class="ccam-radio-input d-flex flex-column">
            <p class="m-0 p-0 green-text fw-bold">Nível Educacional</p>
            <div class="d-flex" id="radio-group">
              <div class="d-flex">
                <input type="radio" name="educational-level" id="high-school" value="1" />
                <label class="fw-bold" for="high-school">Técnico Médio</label>
              </div>
              <div class="d-flex">
                <input type="radio" name="educational-level" id="university" value="2" />
                <label class="fw-bold" for="university">Superior</label>
              </div>
            </div>
        </div>
      </div>
      {% include "core/_button.html" with button_text="Filtrar" color_class="green-svg" icon_path='people/images/icons/filter.svg' alt_text="A classic green filter object" %}
    </section>
    <header class="header-with-icon padding-from-content">
      <img src="{% static 'people/images/icons/dataTable.svg' %}"
           alt="Green disks on top of each other"
           width="35"
           height="35"
           class="green-svg" />
      <h2>Disciplinas</h2>
    </header>
    <section>
      <table class="ccam-table">
        <thead>
          <tr>
            <th>
              <img src="{% static 'people/images/icons/cap.svg' %}"
                   alt="A green student cap" />
              Nome
            </th>
            <th>
              <img src="{% static 'images/icons/course.svg' %}"
                   alt="A feather pen writing on a scroll" />
              Curso
            </th>
            <th>
              <img src="{% static 'core/images/icons/upgrade.svg' %}"
                   alt="Green arrow pointing upwards on a baseline" />
              Nível
            </th>
            <th>
              <img src="{% static 'core/images/icons/hashtag.svg' %}"
                   alt="A green settings icon indicating actions you can take on a specific table" />
              Ano/Período
            </th>
            <th>
                <img src="{% static 'people/images/icons/actionIcon.svg' %}"
                     alt="A green settings icon indicating actions you can take on a specific table" />
                Ações
              </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>APOO</td>
            <td>ADS</td>
            <td>Superior</td>
            <td>4º</td>
            <td>
                {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:course_progress_assessments' %}
            </td>
          </tr>
          <tr>
            <td>APOO</td>
            <td>ADS</td>
            <td>Superior</td>
            <td>4º</td>
            <td>
                {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:course_progress_assessments' %}
            </td>
          </tr>
          <tr>
            <td>APOO</td>
            <td>ADS</td>
            <td>Superior</td>
            <td>4º</td>
            <td>
                {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:course_progress_assessments' %}
            </td>
          </tr>
          <tr>
            <td>APOO</td>
            <td>ADS</td>
            <td>Superior</td>
            <td>4º</td>
            <td>
                {% include 'core/_table_button.html' with button_text="Vizualizar" color_class="green-svg" icon_path='people/images/icons/detailsIcon.svg' alt_text="A green eye icon" href='academics:course_progress_assessments' %}
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    {% include "core/_table_pagination.html" %}
  </main>
{% endblock content %}
